/* app css stylesheet */

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #fff;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}

.pie-progress-number {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.top_nav .navbar {
    /*height: 55px;*/
    min-height: 53px;
}
.top_nav nav li a {
    padding-top: 15px!important;
    padding-bottom: 15px!important;
}

.fullscreen {
    width: 100%;
    height: 100%;
}
#toggleFullscreen a {
    cursor: pointer;
}
.navbar-brand .navbar-brand-logo {
    -webkit-transition: all .2s;
    transition: all .2s;
}
.navbar-brand:hover .navbar-brand-logo {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
.material_btn_corner {
    position: fixed;
    bottom: 50px;
    right: 50px;
}
a.lnk_white:hover { color: #fff; }
.auto_height { height: auto!important; }

span.error {
    width: 100%;
    color: #f00;
    margin-bottom: 8px;
    display: inline-block;
}
span.error .icon {
    width: 25px;
    height: 25px;
    border: 1px solid #f00;
    font-size: 12px;
    border-radius: 50%;
    text-align: center;
    line-height: 23px;
    margin-left: 5px;
}
.warning_icon {
    font-size: 3em;
    margin-bottom: 10px;
}

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url(../resources/icons/glyphicons-halflings-regular.eot);
    src: url(../resources/icons/glyphicons-halflings-regular.eot?#iefix) format('embedded-opentype'), url(../resources/icons/glyphicons-halflings-regular.woff2) format('woff2'), url(../resources/icons/glyphicons-halflings-regular.woff) format('woff'), url(../resources/icons/glyphicons-halflings-regular.ttf) format('truetype'), url(../resources/icons/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format('svg')
}

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
.glyphicon-ok:before {
    content: "\e013"
}
.glyphicon-remove:before {
    content: "\e014"
}
.display-flex { display: -webkit-box!important; display: -webkit-flex!important; display: -ms-flexbox!important; display: flex!important; }




















