<style>
    .list_employee_block {
        margin-top: 20px;
    }
    .btn-none {
        background: #fff;
        border: 0;
        border-bottom: 1px dotted #ccc;
    }
    .btn-round-line {
        width: 25px;
        height: 25px;
        padding: 0;
        margin-right: 17px;
        line-height: 20px!important;
    }
    .btn-round-line.inAct {
        line-height: 23px!important;
    }
    .btn-round-line i { margin: 0!important; }
    .edit_li .edt_text {
        height: 35px;
        line-height: 35px;
        top: 5px;
        color: #1B2432;
        width: 94%;
        background: transparent;
        border: 0px solid transparent;
        outline: 0px solid transparent;
        position: absolute;
        padding: 0;
        overflow: hidden;
        resize: none;
    }
    .list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover, .list-group-item:hover {
        border-bottom-color: #ccc
    }
    .view_block .list-group-item-heading {
        margin-top: 10px;
    }
    .view_block .list-group-item-heading.disabled {
        color: #bbb;
        cursor: not-allowed;
    }
    .view_block .editable_txt {
        width: 100%;
        height: 35px;
        font-size: 18px;
        color: #1B2432;
        background: transparent;
        border: 0px solid transparent;
        outline: 0px solid transparent;
        text-shadow: rgba(0,0,0,.15) 0 0 1px;
        padding: 5px;
        resize: none;
        font-weight: 400;
        line-height: 25px;
    }
    .view_block .editable_txt:hover {
        outline: 1px solid #ddd;
    }
    .list-group-item .icon { margin-right: 0; }
    .widget .widget-header {
        border-radius: 3px 5px 0 0;
    }
    .input_none {
        border: 0;
    }
    .line-height-0 { line-height: 0; }
    .padding-left-6 { padding-left: 6px; }
    
    .view_highlite {
        transition: all .2s!important;
        -webkit-transition: all .2s!important;
        -moz-transition: all .2s!important;
    }
    .view_highlite.active {
        box-shadow: 0 0 15px #999;
        transform: translateY(-2%);
    }
    .margin-bottom-7 { margin-bottom: 7px; }
    
</style>


<div class="row padding-vertical-30 padding-top-0">
    <div class="col-sm-12 text-center">
        <h2>Add Employee.</h2>
    </div>
</div>


<!-- Add Block -->
<div class="col-md-12 add_block">
 <div class="panel match_height">
   <div class="panel-body container-fluid">    
       
       
       <div class="row container-fluid">
           
           <div class="col-sm-6 padding-left-0">
             <a class="btn btn-primary btn-outline margin-bottom-10 add_emp_btn" type="button" href="#/list-employee">
               <i class="site-menu-icon wb-list"></i> List Employees
             </a>
           </div>
           
           <div class="col-sm-5 pull-right padding-right-0">
               
               <select class="btn btn-default dropdown-toggle btn-none pull-right sort_employee_drop" ng-model="employeeSearch.$" ng-init="employeeSearch.$=''">
                 <option value="">All employees</option>
                 <option value="Active">Active employees</option>
                 <option value="InActive">InActive employees</option>
                 <optgroup label="Blood Group">
                    <option>A+</option>
                    <option>A-</option>
                    <option>B+</option>
                    <option>B-</option>
                    <option>AB+</option>
                    <option>AB-</option>
                    <option>O+</option>
                    <option>O-</option>
                 </optgroup>
               </select>
                              
               <!--<div class="dropdown pull-right">
                          <button type="button" class="btn btn-default dropdown-toggle btn-none" id="exampleDefaultDropdownSubMenu" aria-expanded="true" data-toggle="dropdown">
                            Recommended Views
                            <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu" aria-labelledby="exampleDefaultDropdownSubMenu" role="menu">
                            <li role="presentation"><a href="javascript:void(0)" role="menuitem" tabindex="-1">List all employees</a></li>
                            <li role="presentation"><a href="javascript:void(0)" role="menuitem" tabindex="-1">Active employees</a></li>
                            <li role="presentation"><a href="javascript:void(0)" role="menuitem" tabindex="-1">In Active employees</a></li>
                            <li class="divider" role="presentation"></li>
                            <li class="dropdown-submenu">
                              <a href="javascript:void(0)" role="button" tabindex="-1">Blood Group</a>
                              <ul class="dropdown-menu" role="menu">
                                <li role="presentation"><a href="javascript:void(0)" role="menuitem" tabindex="-1">A+</a></li>
                                <li role="presentation"><a href="javascript:void(0)" role="menuitem" tabindex="-1">A-</a></li>
                                <li role="presentation"><a href="javascript:void(0)" role="menuitem" tabindex="-1">B+</a></li>
                                <li role="presentation"><a href="javascript:void(0)" role="menuitem" tabindex="-1">B-</a></li>
                                <li role="presentation"><a href="javascript:void(0)" role="menuitem" tabindex="-1">AB+</a></li>
                                <li role="presentation"><a href="javascript:void(0)" role="menuitem" tabindex="-1">AB-</a></li>
                                <li role="presentation"><a href="javascript:void(0)" role="menuitem" tabindex="-1">O+</a></li>
                                <li role="presentation"><a href="javascript:void(0)" role="menuitem" tabindex="-1">O-</a></li>
                              </ul>
                            </li>
                          </ul>
</div>-->              
               
           </div>
           
       </div>
       
       
       <div class="list_employee_block">
           
           <ul class="list-group list-group-dividered list-group-full" id="append_emp_list">               
                  <li class="list-group-item edit_li">
                    <form name="addEmp" ng-submit="empAdd()">
                        <button type="button" class="btn btn-icon btn-success btn-outline btn-round btn-round-line" tooltip-placement="top" uib-tooltip="Click to In-Active">
                            <i class="icon wb-plus" aria-hidden="true"></i>
                        </button>
                        <input type="text" id="new_emp_name" name="new_e_name_input" class="edt_text" placeholder="Enter new employee name and hit enter" ng-model="new_e_name_input" ng-blur="empAdd()" required>
                    </form>
                  </li>
           </ul>
          
           
           <div class="input-search">
                <button type="submit" class="input-search-btn"><i class="icon wb-search" aria-hidden="true"></i></button>
                <input type="text" class="form-control margin-bottom-7 border-radius-0" name="" ng-model="employeeSearchInput.$" placeholder="Search employee">
           </div>
           <h4 class="page-search-title text-right">
               
               
               <br>
               
           Search Results For "{{employeeSearch.$}}
               
               <span ng-show="employeeSearch.$ == ''">All</span>
               
               <span ng-show="employeeSearch.$ == 'A+' || employeeSearch.$ == 'A-' || employeeSearch.$ == 'B+' || employeeSearch.$ == 'B-' || employeeSearch.$ == 'AB+' || employeeSearch.$ == 'AB-' || employeeSearch.$ == 'O+' || employeeSearch.$ == 'O-'">blood group</span> employees "
           </h4>
           
           <p class="page-search-count text-right margin-bottom-0">About <span>{{(listEmployee|filter:employeeSearch).length}}</span> result (<span>0.13</span> seconds)</p>
           

           
           <div class="widget" ng-show="!(listEmployee|filter:employeeSearch).length || !(listEmployee|filter:employeeSearchInput).length">
            <div class="widget-content padding-20 bg-white">
              <div class="counter counter-lg">
                <div class="warning_icon"><i class="icon wb-warning"></i></div>
                <div class="counter-label text-uppercase font-size-16">Sorry !!!</div>
                <div class="counter-number-group margin-bottom-10">
                  <span class="counter-number">No matching employees found</span>
                </div>
                <div class="counter-label text-uppercase font-size-16">for this search</div>
              </div>
            </div>
          </div>
           
           
           
           <ul class="list-group list-group-dividered list-group-full" id="append_emp_list_view">               
               <form name="listEmp" ng-submit="empAddfrmList()">                 
               
                  <li class="list-group-item edit_li" ng-repeat="employee in listEmployee | filter:employeeSearch:strict | filter:employeeSearchInput:strict">
                    
                        <button type="button" class="btn btn-icon btn-success btn-outline btn-round btn-round-line" tooltip-placement="top" uib-tooltip="Click to In-Active" data-id="{{employee.id}}" ng-click="employeeStatusChange($event)" ng-show="employee.status == 'Active'">
                            <i class="icon wb-check"></i>
                        </button>
                        <button type="button" class="btn btn-icon btn-danger btn-outline btn-round btn-round-line inAct" tooltip-placement="top" uib-tooltip="Click to Active" data-id="{{employee.id}}" ng-click="employeeStatusChange($event)" ng-show="employee.status == 'InActive'">
                            <i class="icon wb-close"></i>
                        </button>
                      
                        <input type="text" name="edit_e_name_input" class="edt_text emp_edit_input" ng-model="edit_e_name_input_[employee.id]" ng-blur="empAddfrmList()" ng-init="edit_e_name_input_[employee.id]=employee.e_name" data-id="{{employee.id}}" ng-click="empClick($event)" required>

                  </li>

                </form>               
           </ul>
           
           
       </div>
       <!--/.list_employee_block-->       
       
   </div>
 </div>
</div>


<!-- View Block -->
<div class="col-md-6 view_block">

 <div class="panel match_height">
   <div class="panel-body container-fluid padding-0 view_highlite">
       
    <form name="viewEmp" id="viewEmpForm" novalidate>
       <div class="widget widget-shadow">
            <div class="widget-header cover overlay">
              <div class="cover-background height-150" style="background-image: url('../../resources/images/add_banner.jpg')"></div>
            </div>
            <div class="widget-body padding-horizontal-30 padding-vertical-20">
              <div style="position:relative;padding-left:110px;">
                <a class="avatar avatar-100 bg-white img-bordered" href="javascript:void(0)" style="position:absolute;top:-50px;left:0;">
                  <img src="../../resources/images/{{selectedEmployee.photo}}" alt="" class="thumb_bounce animate1 bounceIn" ng-hide="selectedEmployee.photo == '' || selectedEmployee.photo == '0'">
                  <img src="../../resources/images/no_image.jpg" alt="" class="thumb_bounce animate1 bounceIn" ng-show="selectedEmployee.photo == '' || selectedEmployee.photo == '0'">
                </a>
                <div class="margin-bottom-20">
                  <div class="font-size-20 line-height-0">
<input type="text" class="list-group-item-heading editable_txt font-size-20 margin-0" ng-model="selectedEmployee.e_name" readonly>
                  </div>
                  <div class="font-size-14">
                    <select class="form-control input_none padding-left-6" ng-model="selectedEmployee.designation">
                        <option ng-repeat="item in listEmployee | unique:'designation'">{{item.designation}}</option>
                    </select>
                  </div>
                </div>
              </div>
              
                <div class="list-group">
                  <div class="list-group-item">
                    <p class="list-group-item-text"><i class="icon wb-envelope"></i> Email</p>
                    <!--<h4 class="list-group-item-heading text-muted disabled">saravana@cliffsupport.com</h4>-->
                    <input type="email" class="list-group-item-heading editable_txt" placeholder="eg: name@domain.com" name="email" ng-model="selectedEmployee.email" required>
                    <span class="error" ng-show="viewEmp.email.$dirty && viewEmp.email.$invalid">
                        <span ng-show="viewEmp.email.$error.required"><i class="icon wb-close"></i> Email is required.</span>
                        <span ng-show="viewEmp.email.$error.email"><i class="icon wb-close"></i> Invalid email address.</span>
                    </span>           
                  </div>
                  <div class="list-group-item">
                    <p class="list-group-item-text"><i class="icon wb-mobile"></i> Phone</p>
                    <input type="text" name="phn" class="list-group-item-heading editable_txt" placeholder="eg: +9101234567" ng-pattern="phoneNumberPattern" ng-model="selectedEmployee.phn" minlength="10" maxlength="11">
      <span class="error" ng-show="viewEmp.phn.$error.required"><i class="icon wb-close"></i> Required!</span>
      <span class="error" ng-show="viewEmp.phn.$error.minlength"><i class="icon wb-close"></i> Phone number not less that 10 character.</span>
      <span class="error" ng-show="viewEmp.phn.$error.maxlength"><i class="icon wb-close"></i> Phone number not more than 11 character.</span>
      <br>
      <span class="error" ng-show="viewEmp.phn.$error.pattern"><i class="icon wb-close"></i> Please match pattern [+9101234567 or 9101234567]</span>
                  </div>
                  <div class="list-group-item">
                    <p class="list-group-item-text"><i class="icon wb-plugin"></i> Platform</p>
                    <select class="list-group-item-heading editable_txt form-control input_none" ng-model="selectedEmployee.platform">
                        <option ng-repeat="item in listEmployee | unique:'platform'">{{item.platform}}</option>
                    </select>
                  </div>
                  <div class="list-group-item">
                    <p class="list-group-item-text"><i class="icon wb-table"></i> Department</p>
                    <select class="list-group-item-heading editable_txt form-control input_none" ng-model="selectedEmployee.dept">
                        <option ng-repeat="item in listEmployee | unique:'dept'">{{item.dept}}</option>
                    </select>
                  </div>
                  <div class="list-group-item">
                    <p class="list-group-item-text"><i class="icon wb-random"></i> Role</p>
                    <select class="list-group-item-heading editable_txt form-control input_none" ng-model="selectedEmployee.e_role">
                        <option ng-repeat="item in listEmployee | unique:'e_role'">{{item.e_role}}</option>
                    </select>
                  </div>
                  <div class="list-group-item">
                    <p class="list-group-item-text"><i class="icon wb-info"></i> Blood Group</p>
                    <select class="list-group-item-heading editable_txt form-control input_none" ng-model="selectedEmployee.blood_grp">
                        <option ng-repeat="item in listEmployee | unique:'blood_grp'">{{item.blood_grp}}</option>
                    </select>
                  </div>
                  <div class="list-group-item">
                    <p class="list-group-item-text"><i class="icon wb-map"></i> Address</p>
                    <textarea class="list-group-item-heading editable_txt auto_height" placeholder="Enter address" ng-model="selectedEmployee.address"></textarea>
                  </div>
                </div>
                
            </div>           
       </div>
    </form>
       
   </div>
 </div>
</div>




<a href="#/list-employee">
  <button type="button" class="btn btn-floating btn-danger material_btn_corner"><i class="icon wb-list" aria-hidden="true"></i></button>
</a>