<style>
    .user_card {
        overflow: hidden;
    }
    .actions {
        position: absolute;
        right: 13px;
        top: 10px;
        transform: translateY(-150%);
        transition: all .2s;
    }
    .actions li a {
        color: #fff;
        padding: 3px;
        transition: all .2s;
    }
    .actions li a:hover {
        background: rgba(0, 0, 0, 0.5);
        border-radius: 2px;
        text-decoration: none;
    }
    .user_card:hover .actions {
        transform: translateY(0);
    }
    .input-search {
        max-width: 450px;
        margin: 35px auto 32px;
    }    
</style>


<div class="row padding-vertical-30">
    <div class="col-sm-12 text-center">
        <h2>Search from Employees.</h2>
        <form role="search">
            <div class="input-search">
                <input type="text" ng-model="search.$" class="form-control round" placeholder="Type any keyword...">
                <button type="submit" class="input-search-btn">
                    <i class="icon wb-search" aria-hidden="true"></i>
                </button>
            </div>
        </form>
    </div>
</div>


<div class="panel">
  <div class="panel-body container-fluid">
    <br>
    <div class="col-md-4 col-sm-12 col-lg-4 user_card" ng-repeat="list in listEmployee | filter:search:strict">
    <div class="widget">
        <div class="widget-header white bg-cyan-600 padding-30 clearfix text-capitalize">
                        
            <ul class="list-inline pull-right actions">
                  <li>
                    <a href="#" ng-show="list.status==='In Active'"><i class="icon wb-check"></i> Active</a>
                    <a href="#" ng-show="list.status==='Active'"><i class="icon wb-close"></i> In Active</a>
                  </li>
                  <li>
                    <a href="#"><i class="icon wb-edit"></i> Edit</a>
                  </li>
            </ul>
            
            <a class="avatar avatar-100 pull-left margin-right-20" href="javascript:void(0)">
                <img src="../../resources/images/1.jpg" alt="">
            </a>
            <div class="pull-left">
                <div class="font-size-20 margin-bottom-15">
                    {{list.e_name}}
                    <div class="font-size-14 text-truncate">{{list.designation}}</div>
                </div>
                <p class="margin-bottom-5 text-nowrap">
                    <i class="icon wb-envelope margin-right-10" aria-hidden="true"></i>
                    <span class="text-break">{{list.email}}</span>
                </p>
                <p class="margin-bottom-5 text-nowrap">
                    <i class="icon wb-mobile margin-right-10" aria-hidden="true"></i>
                    <span class="text-break">{{list.phn}}</span>
                </p>
            </div>
        </div>
        <div class="widget-content">
            <div class="widget-content">
              <ul class="list-group list-group-bordered text-left">
                <li class="list-group-item">
                  <span class="badge badge-info">{{list.platform}} </span>
                  <i class="icon wb-plugin" aria-hidden="true" draggable="true"></i>Platform
                </li>
                <li class="list-group-item">
                  <span class="badge badge-info">{{list.dept}} </span>
                  <i class="icon wb-table" aria-hidden="true" draggable="true"></i>Department
                </li>
                <li class="list-group-item">
                  <span class="badge badge-info">{{list.e_role}}</span>
                  <i class="icon wb-random" aria-hidden="true" draggable="true"></i>Role
                </li>      
                <li class="list-group-item">
                  <span class="badge badge-danger">{{list.blood_grp}}</span>
                  <i class="icon wb-info" aria-hidden="true" draggable="true"></i>Blood group
                </li>
                <li class="list-group-item">
                  <span class="badge badge-success">{{list.status}}</span>
                  <i class="icon wb-help" aria-hidden="true" draggable="true"></i>Status
                </li>
                <li class="list-group-item">
                  <i class="icon wb-map" aria-hidden="true" draggable="true"></i>{{list.address}}
                </li>
              </ul>
            </div>
        </div>
    </div>
</div>
  </div>
</div>

<a href="#/add-employee">
  <button type="button" class="btn btn-floating btn-danger material_btn_corner"><i class="icon wb-plus" aria-hidden="true"></i></button>
</a>